[project]
	description = Modern Java - A Guide to Java 8
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Artur Rozgowski (grovas)
[access "refs/for/refs/*"]
	read = group user/Artur Rozgowski (grovas)
	push = group user/Artur Rozgowski (grovas)
	label-Code-Review = -2..+2 group user/Artur Rozgowski (grovas)
	label-Verified = -1..+1 group user/Artur Rozgowski (grovas)
	rebase = group user/Artur Rozgowski (grovas)
	removeReviewer = group user/Artur Rozgowski (grovas)
	submit = group user/Artur Rozgowski (grovas)
[access "refs/heads/*"]
	read = group user/Artur Rozgowski (grovas)
	create = group user/Artur Rozgowski (grovas)
	push = +force group user/Artur Rozgowski (grovas)
	pushMerge = group user/Artur Rozgowski (grovas)
[access "refs/tags/*"]
	push = group user/Artur Rozgowski (grovas)
	push = +force group user/Artur Rozgowski (grovas)
